{% extends "base.html" %}
{% load static_v %}
{% block titulo %}Senha alterada · Qualy Vortice{% endblock %}
{% block conteudo_publico %}
<section id="viewLogin">
  <div class="login-card" style="text-align:center">
    <div class="brand"><img src="{% static_v 'img/imglogo.png' %}" alt="Qualy Vortice" class="brand-logo"></div>
    <p class="login-sub">Sua senha foi alterada com sucesso. Já pode entrar com a senha nova.</p>
    <a class="btn btn-primary btn-block" href="{% url 'accounts:login' %}">Entrar no painel</a>
  </div>
</section>
{% endblock %}
