<div class="star-rating">
  <input type="radio" name="{{ nome }}" id="{{ prefixo }}5" value="5"><label for="{{ prefixo }}5">★</label>
  <input type="radio" name="{{ nome }}" id="{{ prefixo }}4" value="4"><label for="{{ prefixo }}4">★</label>
  <input type="radio" name="{{ nome }}" id="{{ prefixo }}3" value="3"><label for="{{ prefixo }}3">★</label>
  <input type="radio" name="{{ nome }}" id="{{ prefixo }}2" value="2"><label for="{{ prefixo }}2">★</label>
  <input type="radio" name="{{ nome }}" id="{{ prefixo }}1" value="1"><label for="{{ prefixo }}1">★</label>
</div>
